
p{
    font-style: italic;
    background-color: plum;
}

h1{
    font-size: large;
    font-family: sans-serif;
    color: darkblue;
}

h3{
    font-size: medium;
    font-family: sans-serif;
    color: darkcyan;

}